@{
    ViewBag.Title = "Yhteystiedot";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Northwind Oy<br />
        PL 100<br />
        <abbr title="Phone">P.</abbr>
        +358 40 123 4567
    </address>

    <address>
        <strong>Tuki:</strong>   <a href="mailto:tiia.virtanen@student.careeria.fi">tiia.virtanen@student.careeria.fi</a>
    </address>
</main>