
@{
    ViewBag.Title = "Map";
}

<h2>Saapumisohje</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1977.4325503628422!2d24.993301216111373!3d60.28937778200505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469207efc8cfa865%3A0x76dccabf2387ca3d!2sKuriiritie%2028%2C%2001510%20Vantaa!5e0!3m2!1sfi!2sfi!4v1682601231963!5m2!1sfi!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

